<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269246041090-3c7srh61ltk234logsdqka2rod8esvk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269246041090-3c7srh61ltk234logsdqka2rod8esvk4</string>
	<key>API_KEY</key>
	<string>AIzaSyDDw-5ASaTIHIKznE_gVykJ_lt-11iMpSk</string>
	<key>GCM_SENDER_ID</key>
	<string>269246041090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eNoteKhadem.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-note-35bda</string>
	<key>STORAGE_BUCKET</key>
	<string>e-note-35bda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269246041090:ios:35b411d339faad2d2f6b1b</string>
</dict>
</plist>